In [13]:
import pandas as pd 
import numpy as np
from datetime import datetime
D1=pd.read_csv('OneDrive_1_3-7-2024/Casos_positivos_de_COVID-19-Cund-Boy.csv', sep=';').fillna('No reporta')

In [14]:
Df=D1
Df.head(5)

,id_case,id_municipality,name_municipality,id_department,name_department,age,gender,type_contagion,status,date_symptom,date_death,date_diagnosis,date_recovery
0,489982,25,CUNDINAMARCA,25899,ZIPAQUIRA,22,F,Comunitaria,Recuperado,2/08/2020,No reporta,18/08/2020,20/12/2020
1,5932109,25,CUNDINAMARCA,25758,SOPO,50,M,Comunitaria,Recuperado,18/01/2022,No reporta,2/02/2022,5/02/2022
2,3036330,25,CUNDINAMARCA,25099,BOJACA,67,M,Comunitaria,Recuperado,4/05/2021,No reporta,8/05/2021,18/05/2021
3,1,25,CUNDINAMARCA,25151,CAQUEZA,51,F,Relacionado,Recuperado,4/01/2021,No reporta,7/01/2021,18/01/2021
4,4715565,25,CUNDINAMARCA,25290,FUSAGASUGA,40,M,Comunitaria,Recuperado,8/07/2021,No reporta,23/07/2021,25/07/2021

In [ ]:
D2=pd.read_csv('', sep=';').fillna('No reporta')
D3=pd.read_csv('', sep=';').fillna('No reporta')
D4=pd.read_csv('', sep=';').fillna('No reporta')
Df=pd.concat([D1,D2,D3,D4]).drop_duplicates('id_case')

In [15]:
import mysql.connector
cnx = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database='Casos_Covid')

cursor = cnx.cursor()

cursor.execute("SELECT id_case FROM cases" )

result = cursor.fetchall()

id_case=list(Df["id_case"])
dif= np.setdiff1d(id_case,result)

mask = Df['id_case'].isin(dif)
Data = Df[mask]
Data.head()

,id_case,id_municipality,name_municipality,id_department,name_department,age,gender,type_contagion,status,date_symptom,date_death,date_diagnosis,date_recovery
3,1,25,CUNDINAMARCA,25151,CAQUEZA,51,F,Relacionado,Recuperado,4/01/2021,No reporta,7/01/2021,18/01/2021

In [16]:
name_department=Data.drop_duplicates(['id_municipality', 'name_municipality'], keep='last').reset_index()  #El nombre de los municipios y Departamentos esta invertido
name_municipality=Data.drop_duplicates(['id_department', 'name_department'], keep='last').reset_index()    #El nombre de los municipios y Departamentos esta invertido

In [17]:
gender=Data['gender'].drop_duplicates().reset_index()
gender['index']=np.arange(0,len(gender))
gender=gender.rename(columns={'index':'id_gender'})

status=Data['status'].drop_duplicates().reset_index()
status['index']=np.arange(0,len(status))
status=status.rename(columns={'index':'id_status'})

type_contagion=Data['type_contagion'].drop_duplicates().reset_index()
type_contagion['index']=np.arange(0,len(type_contagion))
type_contagion=type_contagion.rename(columns={'index':'id_type_con'})

Data=Data.merge(gender)
Data=Data.merge(status)
Data=Data.merge(type_contagion)
Data['date_symptom']  =  Data['date_symptom'].apply(lambda x:  datetime.strptime(x, "%d/%m/%Y") if( x != 'No reporta' and not(isinstance(x, datetime))) else datetime.strptime('01/01/9999', "%d/%m/%Y"))
Data['date_death']    =    Data['date_death'].apply(lambda x:  datetime.strptime(x, "%d/%m/%Y") if( x != 'No reporta' and not(isinstance(x, datetime))) else datetime.strptime('01/01/9999', "%d/%m/%Y"))
Data['date_diagnosis']=Data['date_diagnosis'].apply(lambda x:  datetime.strptime(x, "%d/%m/%Y") if( x != 'No reporta' and not(isinstance(x, datetime))) else datetime.strptime('01/01/9999', "%d/%m/%Y"))
Data['date_recovery'] = Data['date_recovery'].apply(lambda x:  datetime.strptime(x, "%d/%m/%Y") if( x != 'No reporta' and not(isinstance(x, datetime))) else datetime.strptime('01/01/9999', "%d/%m/%Y"))
datett = datetime.strptime('18/01/2010', "%d/%m/%Y")
Data.head(2)

,id_case,id_municipality,name_municipality,id_department,name_department,age,gender,type_contagion,status,date_symptom,date_death,date_diagnosis,date_recovery,id_gender,id_status,id_type_con
0,1,25,CUNDINAMARCA,25151,CAQUEZA,51,F,Relacionado,Recuperado,2021-01-04,9999-01-01 00:00:00,2021-01-07,2021-01-18,0,0,0

In [ ]:
for i in range(0,len(name_department)):
    try: 
        add_Departamento = ("INSERT INTO Department "
                            "(id_department,name) "
                            "VALUES (%(id_dep)s, %(name)s)")
        data_Departamento = ({'id_dep': int(name_department['id_municipality'][i]),
                             'name': name_department['name_municipality'][i]})
        cursor.execute(add_Departamento, data_Departamento)
    
        cnx.commit()
    except:
        print('Dato ya agregado')

In [ ]:
for i in range(0,len(name_municipality)):
    try: 
        add_Municipio = ("INSERT INTO Municipality "
                            "(id_municipality,name, id_department) "
                            "VALUES (%(id_mun)s, %(name)s, %(id_dep)s)")
        data_Municipio = ({'id_mun': int(name_municipality['id_department'][i]),
                             'name': name_municipality['name_department'][i],
                            'id_dep': int(name_municipality['id_municipality'][i])})
        cursor.execute(add_Municipio, data_Municipio)
        cnx.commit()
    except:
        print('Dato ya agregado')

In [ ]:
for i in range(0,len(gender)):
    add_nombre = ("INSERT INTO Gender "
                        "(id_gender,name) "
                        "VALUES (%(id)s,%(name)s)")
    data_nombre = ({'id': int(gender['id_gender'][i]), 
                    'name': gender['gender'][i]})
    cursor.execute(add_nombre, data_nombre)
    
    cnx.commit()

In [ ]:
for i in range(0,len(status)):
    add_status = ("INSERT INTO Status_ "
                        "(id_status,name) "
                        "VALUES (%(id)s,%(name)s)")
    data_status = ({'id': int(status['id_status'][i]),
                    'name': status['status'][i]})
    cursor.execute(add_status, data_status)
    
    cnx.commit()

In [ ]:
for i in range(0,len(type_contagion)):
    add_status = ("INSERT INTO Type_Contagion "
                        "(id_type_Contagion, name) "
                        "VALUES (%(id)s,%(name)s)")
    data_status = ({'id': int(type_contagion['id_type_con'][i]),  
                    'name': type_contagion['type_contagion'][i]})
    cursor.execute(add_status, data_status)
    
    cnx.commit()

In [ ]:
for i in range(0,len(Data)):
    add_Municipio = ("""INSERT INTO Cases 
                        (id_case,
                            id_municipality,
                            age,
                            id_gender,
                            id_type_Contagion,
                            id_status,
                            date_symptom,
                            date_death,
                            date_diagnosis,
                            date_recovery)
                     VALUES (
                            %(id_case)s,
                            %(id_municipality)s,
                            %(age)s,
                            %(id_gender)s,
                            %(id_type_Contagion)s,
                            %(id_status)s,
                            %(date_symptom)s,
                            %(date_death)s,
                            %(date_diagnosis)s,
                            %(date_recovery)s) """)
    data_Municipio = ({
                      'id_case' : int(Data['id_case'][i]),
                      'id_municipality':int(Data['id_department'][i]),
                      'age':int(Data['age'][i]),
                      'id_gender':int(Data['id_gender'][i]),
                      'id_type_Contagion':int(Data['id_type_con'][i]),
                      'id_status':int(Data['id_status'][i]),
                      'date_symptom':Data['date_symptom'][i],
                      'date_death':Data['date_death'][i],
                      'date_diagnosis':Data['date_diagnosis'][i],
                      'date_recovery':Data['date_recovery'][i]})
    cursor.execute(add_Municipio, data_Municipio)

    cnx.commit()

In [ ]:
Data.head(1)

In [ ]:
cursor.close()
cnx.close()

In [ ]:
b=(1)
a=list(b)
a.append(2)
print(a)